<div class="absolute top-0 left-0 w-full m-0 h-full overflow-hidden">
    <div class="relative w-full h-full">
        <div id="main" class="relative flex left-0 my-0 mx-auto max-w-[1600px] top-[19px]">
            <div class="flex flex-col grow-0 shrink-0 basis-[30%] z-50 overflow-visible relative h-full">
                <app-contact class="h-full"></app-contact>
            </div>
            <!-- <div class="border-l border-solid border-[rgb(134,150,160,0.15)]"> -->
                <app-current-chat class="w-full"></app-current-chat>

            <!-- </div> -->
        </div>
    </div>
</div>