<div class="absolute top-0 left-0 w-full m-0 h-full overflow-hidden">
    <div class="relative w-full h-full">
        <div id="main" class="relative flex left-0 my-0 mx-auto max-w-[1600px] top-[19px]">
            <app-contact-list *ngIf="(contactService.isContactListActive() | async)"
                class="w-full h-full max-w-[30%]"></app-contact-list>
            <app-main-config *ngIf="(configService.isMainConfig() | async)"
                class="overflow-hidden w-full h-full max-w-[30%]"></app-main-config>
            <div *ngIf="!(configService.isMainConfig() | async) && !(contactService.isContactListActive() | async)"
                class=" flex flex-col grow-0 shrink-0 basis-[30%] z-50 overflow-visible relative h-full">
                <app-header></app-header>
                <app-searcher></app-searcher>
                <app-chat-list class="h-full"></app-chat-list>
            </div>
            <app-current-chat class="w-full"></app-current-chat>
            <app-contact-detail *ngIf="contactService.isContactDetailActive() | async"
                class="overflow-hidden h-full w-full max-w-[30%]"></app-contact-detail>
        </div>
    </div>
</div>