<div class="flex flex-col">
    <mat-form-field appearance="outline">
        <mat-select [(value)]="selected" placeholder="Selecciona un país">
            <mat-option value="{{country}}">
                <div class="flex flex-row">
                    <i class="em em-flag-co mr-3" aria-role="presentation" aria-label="Colombia Flag"></i>
                    <p>{{country}}</p>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="tel" placeholder="Teléfono">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="tel" placeholder="Contraseña">

    </mat-form-field>
    <div class="mb-6">

        <button mat-flat-button color="wp" class="w-full">SIGUIENTE</button>
    </div>
</div>