<div *ngIf="contactService.contact" id="main" class="bg-[#0b141a] flex flex-col h-full">
    <div class="back absolute w-full h-full top-0 left-0">
    </div>
    <header (click)="contactService.showContactDetail()" class="relative box-border flex items-center w-full h-[59px] z-50 bg-[#202c33] py-2.5 px-4 border-l border-solid border-[rgb(134,150,160,0.15)]">
        <div title="Detalles del perfil" class="flex pr-[15px]">
            <div class="relative w-10 h-10 rounded-full">
                <!-- src="{{contactService.contact.profile_photo}}" -->
                <img *ngIf="contactService.contact.image" src="{{contactService.contact.image}}" class="relative block overflow-hidden h-full w-full rounded-full object-cover"  alt="">
                <span *ngIf="!contactService.contact.image">
                    <svg viewBox="0 0 212 212" height="212" width="212"
                      preserveAspectRatio="xMidYMid meet" class="w-full h-full" version="1.1" x="0px"
                      y="0px" enable-background="new 0 0 212 212" xml:space="preserve">
                      <path fill="#6a7175" class="background"
                        d="M106.251,0.5C164.653,0.5,212,47.846,212,106.25S164.653,212,106.25,212C47.846,212,0.5,164.654,0.5,106.25 S47.846,0.5,106.251,0.5z">
                      </path>
                      <g>
                        <path fill="#cfd4d6" class="primary"
                          d="M173.561,171.615c-0.601-0.915-1.287-1.907-2.065-2.955c-0.777-1.049-1.645-2.155-2.608-3.299 c-0.964-1.144-2.024-2.326-3.184-3.527c-1.741-1.802-3.71-3.646-5.924-5.47c-2.952-2.431-6.339-4.824-10.204-7.026 c-1.877-1.07-3.873-2.092-5.98-3.055c-0.062-0.028-0.118-0.059-0.18-0.087c-9.792-4.44-22.106-7.529-37.416-7.529 s-27.624,3.089-37.416,7.529c-0.338,0.153-0.653,0.318-0.985,0.474c-1.431,0.674-2.806,1.376-4.128,2.101 c-0.716,0.393-1.417,0.792-2.101,1.197c-3.421,2.027-6.475,4.191-9.15,6.395c-2.213,1.823-4.182,3.668-5.924,5.47 c-1.161,1.201-2.22,2.384-3.184,3.527c-0.964,1.144-1.832,2.25-2.609,3.299c-0.778,1.049-1.464,2.04-2.065,2.955 c-0.557,0.848-1.033,1.622-1.447,2.324c-0.033,0.056-0.073,0.119-0.104,0.174c-0.435,0.744-0.79,1.392-1.07,1.926 c-0.559,1.068-0.818,1.678-0.818,1.678v0.398c18.285,17.927,43.322,28.985,70.945,28.985c27.678,0,52.761-11.103,71.055-29.095 v-0.289c0,0-0.619-1.45-1.992-3.778C174.594,173.238,174.117,172.463,173.561,171.615z">
                        </path>
                        <path fill="#cfd4d6" class="primary"
                          d="M106.002,125.5c2.645,0,5.212-0.253,7.68-0.737c1.234-0.242,2.443-0.542,3.624-0.896 c1.772-0.532,3.482-1.188,5.12-1.958c2.184-1.027,4.242-2.258,6.15-3.67c2.863-2.119,5.39-4.646,7.509-7.509 c0.706-0.954,1.367-1.945,1.98-2.971c0.919-1.539,1.729-3.155,2.422-4.84c0.462-1.123,0.872-2.277,1.226-3.458 c0.177-0.591,0.341-1.188,0.49-1.792c0.299-1.208,0.542-2.443,0.725-3.701c0.275-1.887,0.417-3.827,0.417-5.811 c0-1.984-0.142-3.925-0.417-5.811c-0.184-1.258-0.426-2.493-0.725-3.701c-0.15-0.604-0.313-1.202-0.49-1.793 c-0.354-1.181-0.764-2.335-1.226-3.458c-0.693-1.685-1.504-3.301-2.422-4.84c-0.613-1.026-1.274-2.017-1.98-2.971 c-2.119-2.863-4.646-5.39-7.509-7.509c-1.909-1.412-3.966-2.643-6.15-3.67c-1.638-0.77-3.348-1.426-5.12-1.958 c-1.181-0.355-2.39-0.655-3.624-0.896c-2.468-0.484-5.035-0.737-7.68-0.737c-21.162,0-37.345,16.183-37.345,37.345 C68.657,109.317,84.84,125.5,106.002,125.5z">
                        </path>
                      </g>
                    </svg>
                  </span>
            </div>
        </div>
        <div class="flex flex-col justify-center cursor-pointer grow" role="button">
            <div class="text-left flex-start leading-normal -m-px">
                <div class="flex grow overflow-hidden text-[16px] leading-5 text-ellipsis whitespace-nowrap text-white">
                    <span>
                        {{contactService.contact.contact_name}}
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-none ml-5 ">
            <div class="flex items-center text-[#aebac1]">
                <div class="relative flex-none h-full ml-0 rounded-full">
                    <div class="cursor-pointer flex items-center py-2">
                        <span>
                            <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class=""
                                version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve">
                                <path fill="currentColor"
                                    d="M15.9,14.3H15L14.7,14c1-1.1,1.6-2.7,1.6-4.3c0-3.7-3-6.7-6.7-6.7S3,6,3,9.7 s3,6.7,6.7,6.7c1.6,0,3.2-0.6,4.3-1.6l0.3,0.3v0.8l5.1,5.1l1.5-1.5L15.9,14.3z M9.7,14.3c-2.6,0-4.6-2.1-4.6-4.6s2.1-4.6,4.6-4.6 s4.6,2.1,4.6,4.6S12.3,14.3,9.7,14.3z">
                                </path>
                            </svg>
                        </span>
                    </div>
                    <span></span>
                </div>
                <div class="relative ml-2.5">
                    <div class="relative h-full rounded-full">
                        <div class="cursor-pointer flex items-center py-2">
                            <span class="mt-0.5">
                                <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet"
                                    class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24"
                                    xml:space="preserve">
                                    <path fill="currentColor"
                                        d="M12,7c1.104,0,2-0.896,2-2c0-1.105-0.895-2-2-2c-1.104,0-2,0.894-2,2 C10,6.105,10.895,7,12,7z M12,9c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,9.895,13.104,9,12,9z M12,15 c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,15.894,13.104,15,12,15z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <span></span>
    <div class="conversation-panel-body relative flex-1 order-2 z-10 text-white border-l pt-5 border-solid border-[rgb(134,150,160,0.15)]">
        <div class="visible">
            <div id="scroll-down"></div>
            <div #scroll
                class="absolute left-0 z-50 box-border flex flex-col w-full h-full overflow-x-hidden overflow-y-scroll">
                <ul class="flex flex-col pl" tabindex="-1" *ngFor="let msg of messages">
                    <div tabindex="-1" class="relative">
                        <div *ngIf="msg.user == this.authService.currentUser.name">
                            <div class="flex flex-row justify-end">
                                <app-message-box [message]="msg.message" [color]="'#005c4b'"></app-message-box>
                            </div>
                        </div>
                        <div *ngIf="!(msg.user == this.authService.currentUser.name)">
                            <div class="flex flex-row justify-start">
                                <app-message-box [message]="msg.message" [color]="'#202c33'"></app-message-box>
                            </div>
                        </div>

                    </div>
                </ul>
            </div>
        </div>
    </div>

    <footer class="mt-5 p-0 relative box-border flex-none w-full order-3 z-20 bg-[#202c33] min-h-[62px] border-l border-solid border-[rgb(134,150,160,0.15)]">
        <div
            class="px-4 py-[5px] bg-[#202c33] relative z-20 box-border flex flex-row flex-end max-w-full min-h-[62px] visible">
            <div class="relative flex-[1] w-full min-w-0 min-h-[52px] text-[#8696a0]">
                <span></span>
                <span>
                    <div class="flex flex-end">
                        <div class="box-border flex items-center justify-center min-h-[52px]">
                            <div class="relative flex my-2">
                                <button class="text-[#8696a0]">
                                    <div>
                                        <span>
                                            <svg viewBox="0 0 24 24" height="24" width="24"
                                                preserveAspectRatio="xMidYMid meet"
                                                class="ekdr8vow dhq51u3o block pointer-events-none w-[26px] h-[26px]"
                                                version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24"
                                                xml:space="preserve">
                                                <path fill="currentColor"
                                                    d="M9.153,11.603c0.795,0,1.439-0.879,1.439-1.962S9.948,7.679,9.153,7.679 S7.714,8.558,7.714,9.641S8.358,11.603,9.153,11.603z M5.949,12.965c-0.026-0.307-0.131,5.218,6.063,5.551 c6.066-0.25,6.066-5.551,6.066-5.551C12,14.381,5.949,12.965,5.949,12.965z M17.312,14.073c0,0-0.669,1.959-5.051,1.959 c-3.505,0-5.388-1.164-5.607-1.959C6.654,14.073,12.566,15.128,17.312,14.073z M11.804,1.011c-6.195,0-10.826,5.022-10.826,11.217 s4.826,10.761,11.021,10.761S23.02,18.423,23.02,12.228C23.021,6.033,17.999,1.011,11.804,1.011z M12,21.354 c-5.273,0-9.381-3.886-9.381-9.159s3.942-9.548,9.215-9.548s9.548,4.275,9.548,9.548C21.381,17.467,17.273,21.354,12,21.354z  M15.108,11.603c0.795,0,1.439-0.879,1.439-1.962s-0.644-1.962-1.439-1.962s-1.439,0.879-1.439,1.962S14.313,11.603,15.108,11.603z">
                                                </path>
                                            </svg>
                                        </span>
                                    </div>
                                </button>
                            </div>
                            <div class="flex items-center">
                                <div class="relative flex-none h-full rounded-full">
                                    <div class="flex items-center cursor-pointer p-2">
                                        <div class="transition-transform">
                                            <span>
                                                <svg viewBox="0 0 24 24" height="24" width="24"
                                                    preserveAspectRatio="xMidYMid meet" class="" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M20.5 13.2501L20.5 10.7501L13.25 10.7501L13.25 3.5L10.75 3.5L10.75 10.7501L3.5 10.7501L3.5 13.2501L10.75 13.2501L10.75 20.5L13.25 20.5L13.25 13.2501L20.5 13.2501Z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="msgContainer flex flex-end min-w-0 ">
                            <div tabindex="-1"
                                class=" select-text py-[9px] px-3 flex-auto box-border border border-solid border-[#2a3942] my-[5px] mx-2 min-w-0 min-h-[20px] font-normal leading-5 text-[15px] flex bg-[#2a3942] rounded-lg ">
                                <form class="relative w-full">
                                    <input class="focus:outline-0 w-full bg-[#2a3942] select-none" [(ngModel)]="msg" 
                                        name="test" placeholder="Escribe un mensaje aquí" type="text"
                                        (keyup.enter)="sendMessage()" autocomplete="off">
                                </form>
                            </div>
                            <div
                                class="w-10 min-w-10 py-[5px] box-border flex items-center justify-center min-h-[52px]">
                                <button
                                    class="text-[#8696a0] w-10 flex h-10 items-center justify-center outline-none cursor-pointer border-0 m-0">
                                    <span><svg viewBox="0 0 24 24" height="24" width="24"
                                            preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px"
                                            enable-background="new 0 0 24 24" xml:space="preserve">
                                            <path fill="currentColor"
                                                d="M11.999,14.942c2.001,0,3.531-1.53,3.531-3.531V4.35c0-2.001-1.53-3.531-3.531-3.531 S8.469,2.35,8.469,4.35v7.061C8.469,13.412,9.999,14.942,11.999,14.942z M18.237,11.412c0,3.531-2.942,6.002-6.237,6.002 s-6.237-2.471-6.237-6.002H3.761c0,4.001,3.178,7.297,7.061,7.885v3.884h2.354v-3.884c3.884-0.588,7.061-3.884,7.061-7.885 L18.237,11.412z">
                                            </path>
                                        </svg></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div></div>
    </footer>
</div>