
  <!-- Contenedor principal -->
  <div class="flex justify-normal   ">
      
  <div class="w-1/2  bg-white shadow-lg  ">
    <!-- Contenido de la vista "Ver contactos" -->
    <div class="p-4 ">
      <h1 class="text-2xl font-bold mb-4 ">Contactos</h1>
      <input class="ring-2 ring-red-500 ring-inset scroll-px-44" type="text" placeholder="Buscar Contacto">
      <ul class="divide-y divide-gray-300">
        <li class="py-4 flex items-start">
          <img src="imagen_perfil_1.jpg" alt="Imagen de perfil" class="w-16 h-16 rounded-full mr-4">
          <div>
            <div class="font-bold">Nombre del Contacto 1</div>
            <div class="text-gray-600">Biografía del Contacto 1</div>
          </div>
        </li>

        <li class="py-4 flex items-start">
          <img src="imagen_perfil_2.jpg" alt="Imagen de perfil" class="w-16 h-16 rounded-full mr-4">
          <div>
            <div class="font-bold">Nombre del Contacto 2</div>
            <div class="text-gray-600">Biografía del Contacto 2</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


  
