<div class="flex justify-start bg-whatsapp">
  <div class="chat-container relative w-96 bg-gradient-to-r #020617 shadow-lg rounded-lg"> <!-- Aplicación del gradiente de color personalizado -->
    <!-- Contenido de la vista "Ver contactos" -->
    <div class="p-4 bg-gray-900 ">
      <h1 class="text-2xl font-bold mb-8 text-white bg-gray-800">Nuevo chat</h1>
      <input class="bg-gray-800 placeholder-gray-400 text-white outline-none px-10 py-2 rounded-full w-full mb-4" type="text" placeholder="Buscar Contacto">
      <ul class="divide-y divide-gray-300 bg-gray-900">
        <li class="py-4 flex items-start hover:bg-gray-800 cursor-pointer">
          <img src="imagen_perfil_1.jpg" alt="Imagen de perfil" class="w-16 h-16 rounded-full mr-4">
          <div>
            <div class="text-white">Nombre del Contacto 1</div>
            <div class="text-gray-600">Biografía del Contacto 1</div>
          </div>
        </li>

        <li class="py-4 flex items-start hover:bg-gray-800 cursor-pointer">
          <img src="imagen_perfil_2.jpg" alt="Imagen de perfil" class="w-16 h-16 rounded-full mr-4">
          <div>
            <div class="text-white">Nombre del Contacto 2</div>
            <div class="text-gray-600">Biografía del Contacto 2</div>
          </div>
        </li>
      </ul>
    </div>
 </div>
</div>








  
