<nav class="bg-green-500 p-4 text-white">
    <div class="container mx-auto">
      <span class="text-xl font-bold">WhatsApp Web</span>
    </div>
  </nav>
  
  <!-- Contenido de la vista "Ver contactos" -->
  <div class="container mx-auto px-0"> 
    <h1 class="text-2xl font-bold mb-4">Contactos</h1>
  
    <!-- Lista de contactos -->
    <ul class="divide-y divide-gray-300">
      <li class="py-4 flex items-start">
        <img src="https://album.mediaset.es/eimg/2023/07/24/encuentran-al-actor-johnny-depp-desmayado-en-un-hotel-de-budapest-donde-tenia-que-dar-un-concierto_47b5.jpg?w=480" alt="Imagen de perfil" class="w-16 h-16 rounded-full mr-4">
        <div>
          <div class="font-bold">Nombre del Contacto 1</div>
          <div class="text-gray-600">Biografía del Contacto 1</div>
        </div>
      </li>
  
  
      <li class="py-4 flex items-start"> 
        <img src="https://album.mediaset.es/eimg/2023/07/24/encuentran-al-actor-johnny-depp-desmayado-en-un-hotel-de-budapest-donde-tenia-que-dar-un-concierto_47b5.jpg?w=480" alt="Imagen de perfil" class="w-16 h-16 rounded-full mr-4">
        <div>
          <div class="font-bold">Nombre del Contacto 2</div>
          <div class="text-gray-600">Biografía del Contacto 2</div>
        </div>
      </li>
    </ul>
  </div>
  
