<header class="flex justify-end flex-col border-box flex-none text-[#d9dee0] bg-[#202c33] pr-5 pl-[23px] h-[108px]">
    <div class="flex w-full items-center translate-x-0 p-0 bg-transparent w-full h-[59px]">
      <div (click)="contactListComponent.closeComponent()" class="block text-[#d9dee0] w-[53px]">
        <div class="cursor-pointer ">
          <span>
            <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve"><path fill="currentColor" d="M12,4l1.4,1.4L7.8,11H20v2H7.8l5.6,5.6L12,20l-8-8L12,4z"></path></svg>
          </span>
        </div>
      </div>
      <div class="overflow-hidden grow leading-[23px] text-[1.1875rem] -mt-[3px] font-medium break-words max-h-[23px * 2]">
        <h1>Nuevo chat</h1>
      </div>
    </div>
  </header>