<div class="chat-container p-4">
  <div class="message received bg-green-200 rounded-lg p-3 flex">
    <img src="https://album.mediaset.es/eimg/2023/07/24/encuentran-al-actor-johnny-depp-desmayado-en-un-hotel-de-budapest-donde-tenia-que-dar-un-concierto_47b5.jpg?w=480" alt="Imagen de perfil" class="w-16 h-16 rounded-full mr-4">
    <div class="message-content">
      <div class="message-info flex justify-between mb-2">
        <div class="font-bold">Johnny depp</div>
        <div class="text-sm text-gray-600">10:30 AM</div>
      </div>
      <div>Hola, ¿cómo estás?</div>
    </div>
  </div>
</div>
  

       
    
  