<header class="pr-5 pl-[25px] text-[#d1d7db] flex items-center bg-[#202c33] h-[59px] border-box flex-none border-l border-solid border-[rgb(134,150,160,0.15)]">
    <div class="px-0 flex font-400 w-full pt-0 flex items-center ">
        <div class="w-[54px] flex-none">
            <div (click)="contactDetail.closeComponent()" role="button" class="cursor-pointer text-[#8696a0] object-fit align-top">
                <span>
                    <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class=""
                        fill="currentColor" enable-background="new 0 0 24 24" xml:space="preserve">
                        <path
                            d="M19.6004 17.2L14.3004 11.9L19.6004 6.60005L17.8004 4.80005L12.5004 10.2L7.20039 4.90005L5.40039 6.60005L10.7004 11.9L5.40039 17.2L7.20039 19L12.5004 13.7L17.8004 19L19.6004 17.2Z">
                        </path>
                    </svg>
                </span>
            </div>
        </div>
        <div class="leading-normal overflow-hidden grow break-words">
            <h1>Info. del contacto</h1>
        </div>
    </div>
</header>